@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

li {
  list-style: none;
}


.filter-white {
  filter: invert(100%) brightness(1000%);
}

.filter-mode {
  filter: invert(56%) sepia(13%) saturate(469%) hue-rotate(177deg) brightness(98%) contrast(92%);
}

.sidebarBtnEye:focus {
  outline: none;
}

.dark.closed .header-logo {
  border-bottom: 1px solid #3E3F4E;
}

.closed .header-logo {
  border-bottom: 1px solid #E4EBFA;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6471858e #f1f1f1;
  
}
